# Introduction to TimeStream - Free Cloud University

**Goal** The purpose of this lab is to expose you to interact with TimeStream using Python. By the end of this lab, you should be able to:
* Create a database
* Create a table
* Delete a table
* Insert data into a table
* Retrieve data from a table
* Delete a database

Before you begin, ensure that you have Python 3 installed by running the code block below.

In [ ]:
!python3 --version

Run this code block to ensure that the boto3 library is installed.

In [ ]:
!pip install boto3

Run this code block to import the necessary packages.

In [3]:
#This module is necessary for interacting with AWS
import boto3

#We will be using these modules to create fake data
from datetime import datetime
from math import sin, cos
import random

Running the code block below will set the region the boto3 library will create the resources.

In [4]:
#We will be using US-East-1 as the default region
%env AWS_DEFAULT_REGION =us-east-1

env: AWS_DEFAULT_REGION=us-east-1

Additionally, to complete this lab, you will need to run the following code block, which creates a file for you to upload to TimeStream.

In [14]:
#This is data for a batch upload
data = []
for x in range(50):
    time.sleep(1)
    timestamp = time.time() 
    data.append({
        'Dimensions' : [
            {
                'Name' : 'student',
                'Value' : random.choice(['Amanda','Becky','Cindy','Davis']),
                'DimensionValueType' : 'VARCHAR'
            }
        ],
        'Time': str(int(timestamp)),
        'TimeUnit' : 'SECONDS',
        'MeasureName' : 'sin',
        'MeasureValue' : str(sin(timestamp)),
        'MeasureValueType' : 'DOUBLE'
    })

In [6]:
tsw = boto3.client(
    'timestream-write',
    aws_access_key_id="AKIAQ5X2RRKHPIIIJ4XU",
    aws_secret_access_key="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"
)
tsq = boto3.client(
    'timestream-query',
    aws_access_key_id="AKIAQ5X2RRKHPIIIJ4XU",
    aws_secret_access_key="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"
)

## Create a TimeStream Database

To create a TimeStream database, you can use the `create_database` method where you must pass in a database name of your choice by setting the `DatabaseName` parameter.

```python
#Example code to create a database.
tsw.create_database(
    DatabaseName = 'NameOfTheDatabase'
)

```

**Try It Out Yourself**: Fill in the `None` values below to create a database.

In [7]:
tsw.create_database(
    DatabaseName = 'niledixontestdbfcu'
)

{'Database': {'Arn': 'arn:aws:timestream:us-east-1:063876205198:database/niledixontestdbfcu',
  'DatabaseName': 'niledixontestdbfcu',
  'TableCount': 0,
  'KmsKeyId': 'arn:aws:kms:us-east-1:063876205198:key/ba7422fa-23c8-42e1-a6cb-ded3fc313a08',
  'CreationTime': datetime.datetime(2021, 12, 26, 22, 44, 12, 999000, tzinfo=tzlocal()),
  'LastUpdatedTime': datetime.datetime(2021, 12, 26, 22, 44, 12, 999000, tzinfo=tzlocal())},
 'ResponseMetadata': {'RequestId': 'CKDQSLIMHKXIVGTA3BLIQKZKLI',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'CKDQSLIMHKXIVGTA3BLIQKZKLI',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '299',
   'date': 'Mon, 27 Dec 2021 04:44:12 GMT'},
  'RetryAttempts': 0}}

## Create a TimeStream Database Table

To create a database table, you can use the `create_table` method where you pass in the name of the database you created using the `DatabaseName` parameter and the name of the table you want to make by using the `TableName` parameter.

```python
#Example code to create a database table.
tsw.create_table(
    DatabaseName = 'NameOfTheDatabase',
    TableName = 'NameOfTheTable'
)
```

**Try It Out Yourself**: Fill in the `None` values below to create a TimeStream table. 

**Note**: The `RetentionProperties.MagneticStoreRetentionPeriodInDays` is set to 3650 so that we can store records that are up to 10 years old.

In [8]:
tsw.create_table(
    DatabaseName='niledixontestdbfcu',
    TableName='niledixontesttablefcu',
    RetentionProperties={
        'MagneticStoreRetentionPeriodInDays': 8766,
        'MemoryStoreRetentionPeriodInHours' : 8766,
    }
)

{'Table': {'Arn': 'arn:aws:timestream:us-east-1:063876205198:database/niledixontestdbfcu/table/niledixontesttablefcu',
  'TableName': 'niledixontesttablefcu',
  'DatabaseName': 'niledixontestdbfcu',
  'TableStatus': 'ACTIVE',
  'RetentionProperties': {'MemoryStoreRetentionPeriodInHours': 8766,
   'MagneticStoreRetentionPeriodInDays': 8766},
  'CreationTime': datetime.datetime(2021, 12, 26, 22, 44, 33, 136000, tzinfo=tzlocal()),
  'LastUpdatedTime': datetime.datetime(2021, 12, 26, 22, 44, 33, 136000, tzinfo=tzlocal())},
 'ResponseMetadata': {'RequestId': 'XQM224EQC7HY2S3JHJXB25E5OE',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'XQM224EQC7HY2S3JHJXB25E5OE',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '453',
   'date': 'Mon, 27 Dec 2021 04:44:32 GMT'},
  'RetryAttempts': 0}}

## List TimeStream Databases

To list the databases you have, you can run the `list_databases` method. 

```python
#Example code to list databases.
tsw.list_databases()
```

**Try It Out Yourself**: Run the code sample below to see which databases you have.

In [9]:
tsw.list_databases()

{'Databases': [{'Arn': 'arn:aws:timestream:us-east-1:063876205198:database/niledixontestdbfcu',
   'DatabaseName': 'niledixontestdbfcu',
   'TableCount': 1,
   'KmsKeyId': 'arn:aws:kms:us-east-1:063876205198:key/ba7422fa-23c8-42e1-a6cb-ded3fc313a08',
   'CreationTime': datetime.datetime(2021, 12, 26, 22, 44, 12, 999000, tzinfo=tzlocal()),
   'LastUpdatedTime': datetime.datetime(2021, 12, 26, 22, 44, 12, 993000, tzinfo=tzlocal())},
  {'Arn': 'arn:aws:timestream:us-east-1:063876205198:database/niledixontutorialtimestream',
   'DatabaseName': 'niledixontutorialtimestream',
   'TableCount': 1,
   'KmsKeyId': 'arn:aws:kms:us-east-1:063876205198:key/ba7422fa-23c8-42e1-a6cb-ded3fc313a08',
   'CreationTime': datetime.datetime(2021, 12, 12, 22, 23, 48, 465000, tzinfo=tzlocal()),
   'LastUpdatedTime': datetime.datetime(2021, 12, 12, 22, 23, 48, 459000, tzinfo=tzlocal())},
  {'Arn': 'arn:aws:timestream:us-east-1:063876205198:database/niletestdatabaseglue',
   'DatabaseName': 'niletestdatabaseglue',
   'TableCount': 1,
   'KmsKeyId': 'arn:aws:kms:us-east-1:063876205198:key/ba7422fa-23c8-42e1-a6cb-ded3fc313a08',
   'CreationTime': datetime.datetime(2021, 12, 7, 8, 39, 52, 531000, tzinfo=tzlocal()),
   'LastUpdatedTime': datetime.datetime(2021, 12, 7, 8, 39, 52, 522000, tzinfo=tzlocal())}],
 'ResponseMetadata': {'RequestId': 'D6WLSIHRLWUVOKCUV5XH7NNOGU',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'D6WLSIHRLWUVOKCUV5XH7NNOGU',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '898',
   'date': 'Mon, 27 Dec 2021 04:44:37 GMT'},
  'RetryAttempts': 0}}

## List TimeStream Database Tables

To see which tables are in a database, use the `list_tables` method with the name of the database to see what tables are there. 

```python
#Example code to list database tables.
tsw.list_tables(
    DatabaseName = 'NameOfTheDatabase'
)
```

**Try It Out Yourself**: Fill in the `None` values with the appropriate values to list the tables in the database you just created. There should be at least 1.

In [10]:
tsw.list_tables(
    DatabaseName = 'niledixontestdbfcu'
)

{'Tables': [{'Arn': 'arn:aws:timestream:us-east-1:063876205198:database/niledixontestdbfcu/table/niledixontesttablefcu',
   'TableName': 'niledixontesttablefcu',
   'DatabaseName': 'niledixontestdbfcu',
   'TableStatus': 'ACTIVE',
   'RetentionProperties': {'MemoryStoreRetentionPeriodInHours': 8766,
    'MagneticStoreRetentionPeriodInDays': 8766},
   'CreationTime': datetime.datetime(2021, 12, 26, 22, 44, 33, 136000, tzinfo=tzlocal()),
   'LastUpdatedTime': datetime.datetime(2021, 12, 26, 22, 44, 33, 136000, tzinfo=tzlocal())}],
 'ResponseMetadata': {'RequestId': 'LUPZ2PWBVZKVQVXYQHXETPMBJ4',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'LUPZ2PWBVZKVQVXYQHXETPMBJ4',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '456',
   'date': 'Mon, 27 Dec 2021 04:44:49 GMT'},
  'RetryAttempts': 0}}

## Get Information About a Database or Table

You can see important information about a database or table by using the `describe_database` and `describe_table` methods respectively. In the `describe_database` method, you must pass in the database name, and in the `describe_table` method, you must pass in the database name and table name.

```python
#Example code to get information about database.
tsw.describe_database(
    DatabaseName = 'NameOfTheDatabase'    
)

#Example code to get information about database table.
tsw.describe_table(
    DatabaseName = 'NameOfTheDatabase',
    TableName = 'NameOfTheTable'
)
```

**Try It Out Yourself**: Fill in the missing `None` values with appropriate values and run the two blocks of code below.

In [11]:
tsw.describe_database(
    DatabaseName = 'niledixontestdbfcu'
)

{'Database': {'Arn': 'arn:aws:timestream:us-east-1:063876205198:database/niledixontestdbfcu',
  'DatabaseName': 'niledixontestdbfcu',
  'TableCount': 1,
  'KmsKeyId': 'arn:aws:kms:us-east-1:063876205198:key/ba7422fa-23c8-42e1-a6cb-ded3fc313a08',
  'CreationTime': datetime.datetime(2021, 12, 26, 22, 44, 12, 999000, tzinfo=tzlocal()),
  'LastUpdatedTime': datetime.datetime(2021, 12, 26, 22, 44, 12, 993000, tzinfo=tzlocal())},
 'ResponseMetadata': {'RequestId': 'DIGUFP6BJUJKMKERO2MKBNNGG4',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'DIGUFP6BJUJKMKERO2MKBNNGG4',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '299',
   'date': 'Mon, 27 Dec 2021 04:45:00 GMT'},
  'RetryAttempts': 0}}

In [12]:
tsw.describe_table(
    DatabaseName = 'niledixontestdbfcu',
    TableName = 'niledixontesttablefcu'
)

{'Table': {'Arn': 'arn:aws:timestream:us-east-1:063876205198:database/niledixontestdbfcu/table/niledixontesttablefcu',
  'TableName': 'niledixontesttablefcu',
  'DatabaseName': 'niledixontestdbfcu',
  'TableStatus': 'ACTIVE',
  'RetentionProperties': {'MemoryStoreRetentionPeriodInHours': 8766,
   'MagneticStoreRetentionPeriodInDays': 8766},
  'CreationTime': datetime.datetime(2021, 12, 26, 22, 44, 33, 136000, tzinfo=tzlocal()),
  'LastUpdatedTime': datetime.datetime(2021, 12, 26, 22, 44, 33, 136000, tzinfo=tzlocal())},
 'ResponseMetadata': {'RequestId': 'ZHG5RQINFHZ3PZ3S4BSPP7LMOY',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'ZHG5RQINFHZ3PZ3S4BSPP7LMOY',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '453',
   'date': 'Mon, 27 Dec 2021 04:45:19 GMT'},
  'RetryAttempts': 0}}

## Write Records to TimeStream Table

To add records to a table, you can use the `write_records` method. You must pass in the name of the database, the name of the table, and a list of records.

**Note**: Records must follow the following structure:
```python
{
    'Dimensions' : [
        {
            'Name' : 'string',
            'Value' : 'string',
            'DimensionValueType': 'VARCHAR'
        }
    ],
    'MeasureName': 'string',
    'MeasureValue': 'string',
    'MeasureValueType': 'DOUBLE'|'BIGINT'|'VARCHAR'|'BOOLEAN'|'TIMESTAMP'|'MULTI',
    'Time': 'string',
    'TimeUnit': 'MILLISECONDS'|'SECONDS'|'MICROSECONDS'|'NANOSECONDS',
    'MeasureValues': [
        {
            'Name': 'string',
            'Value': 'string',
            'Type': 'DOUBLE'|'BIGINT'|'VARCHAR'|'BOOLEAN'|'TIMESTAMP'|'MULTI'
        },
    ]
}
```
Measures are values you can include in aggregation methods, whereas dimensions are values you can filter results by. `MeasureName`, `MeasureValue`, and `MeasureValueType` correspond to a singular measure you want to store in the record. If you want to have multiple measures, you can use the `MeasureValues` parameter. To include dimensions, use the `Dimensions` parameter. 

The `Time` and `TimeUnit` refer to a timestamp of when the record took place.

**Try It Out Yourself**: Run the block below to generate data to load into TimeStream. Then fill in the `None` values with appropriate values.

In [15]:
tsw.write_records(
    DatabaseName = 'niledixontestdbfcu',
    TableName = 'niledixontesttablefcu',
    Records = data
)

{'ResponseMetadata': {'RequestId': 'ZD3MXEIOIHFK54DYJHLZ4AJIY4',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'ZD3MXEIOIHFK54DYJHLZ4AJIY4',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '67',
   'date': 'Mon, 27 Dec 2021 04:51:45 GMT'},
  'RetryAttempts': 1}}

## Query Data in TimeStream

Let's query the data inserted into the TimeStream database by using the `query` method in the `timestreamquery` client. You must simply pass in the query using the `QueryString` parameter. Note that Time Stream uses queries similar to SQL, but you denote the location of the query by using this notation: `database.table`.

**Try It Out Yourself**: Fill in the `None` values with the appropriate values to query the Time Stream database.

In [16]:
database_name = None
database_table = None

x = f'''select * from {database_name}.{database_table}'''

tsq.query(
    QueryString = x
)

{'QueryId': 'AEBQEANBHCSE57E5N7MJNWTKCMNQ7P5MIYBUN3RV5D5P4EZ2SDD2BSMOD7GLUEQ',
 'Rows': [{'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:33.000000000'},
    {'ScalarValue': '0.6173823373298069'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:34.000000000'},
    {'ScalarValue': '-0.3333433491669674'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:35.000000000'},
    {'ScalarValue': '-0.9746392924469639'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:41.000000000'},
    {'ScalarValue': '-0.8882479747222353'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:44.000000000'},
    {'ScalarValue': '0.8234088563031595'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:47.000000000'},
    {'ScalarValue': '-0.7423974971759262'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:50.000000000'},
    {'ScalarValue': '0.6487929535773687'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:52.000000000'},
    {'ScalarValue': '0.41604846412588'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:03.000000000'},
    {'ScalarValue': '0.9271499985698715'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:08.000000000'},
    {'ScalarValue': '-0.07021797661147515'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:12.000000000'},
    {'ScalarValue': '-0.7174658903298219'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:14.000000000'},
    {'ScalarValue': '-0.3248661884794239'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:16.000000000'},
    {'ScalarValue': '0.9940809520304775'}]},
  {'Data': [{'ScalarValue': 'Davis'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:21.000000000'},
    {'ScalarValue': '0.4102949830860573'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:32.000000000'},
    {'ScalarValue': '0.9950163108783295'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:36.000000000'},
    {'ScalarValue': '-0.7112158856865711'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:40.000000000'},
    {'ScalarValue': '-0.08814458438869142'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:55.000000000'},
    {'ScalarValue': '-0.5349674618447804'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:57.000000000'},
    {'ScalarValue': '0.9921263778476462'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:01.000000000'},
    {'ScalarValue': '-0.7321727390148365'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:02.000000000'},
    {'ScalarValue': '0.1804753529223071'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:05.000000000'},
    {'ScalarValue': '-0.055512376251291344'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:07.000000000'},
    {'ScalarValue': '-0.8798453738326197'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:10.000000000'},
    {'ScalarValue': '0.9341527252839749'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:18.000000000'},
    {'ScalarValue': '-0.5214864340058667'}]},
  {'Data': [{'ScalarValue': 'Amanda'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:20.000000000'},
    {'ScalarValue': '-0.5500995516895724'}]},
  {'Data': [{'ScalarValue': 'Becky'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:37.000000000'},
    {'ScalarValue': '0.212413021826913'}]},
  {'Data': [{'ScalarValue': 'Becky'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:39.000000000'},
    {'ScalarValue': '0.7937932892047757'}]},
  {'Data': [{'ScalarValue': 'Becky'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:42.000000000'},
    {'ScalarValue': '-0.8638261676976494'}]},
  {'Data': [{'ScalarValue': 'Becky'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:43.000000000'},
    {'ScalarValue': '-0.03785850466772267'}]},
  {'Data': [{'ScalarValue': 'Becky'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:45.000000000'},
    {'ScalarValue': '0.920335022957256'}]},
  {'Data': [{'ScalarValue': 'Becky'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:49.000000000'},
    {'ScalarValue': '-0.2948186183500592'}]},
  {'Data': [{'ScalarValue': 'Becky'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:53.000000000'},
    {'ScalarValue': '-0.5404900247351213'}]},
  {'Data': [{'ScalarValue': 'Becky'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:00.000000000'},
    {'ScalarValue': '-0.9674158974448923'}]},
  {'Data': [{'ScalarValue': 'Becky'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:11.000000000'},
    {'ScalarValue': '0.20367626522541407'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:38.000000000'},
    {'ScalarValue': '0.9388619698521075'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:46.000000000'},
    {'ScalarValue': '0.16294517336192973'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:48.000000000'},
    {'ScalarValue': '-0.9647589918473186'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:51.000000000'},
    {'ScalarValue': '0.9902144716296251'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:54.000000000'},
    {'ScalarValue': '-0.9999856131428879'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:56.000000000'},
    {'ScalarValue': '0.4259094107127343'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:58.000000000'},
    {'ScalarValue': '0.6402469770771436'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:50:59.000000000'},
    {'ScalarValue': '-0.30463891109028096'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:04.000000000'},
    {'ScalarValue': '0.8132560800513033'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:06.000000000'},
    {'ScalarValue': '-0.8727452358563439'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:09.000000000'},
    {'ScalarValue': '0.8023243857496141'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:13.000000000'},
    {'ScalarValue': '-0.9725987414846179'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:15.000000000'},
    {'ScalarValue': '0.6244241274093371'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:17.000000000'},
    {'ScalarValue': '0.4409614093989903'}]},
  {'Data': [{'ScalarValue': 'Cindy'},
    {'ScalarValue': 'sin'},
    {'ScalarValue': '2021-12-27 04:51:19.000000000'},
    {'ScalarValue': '-0.9998564537464422'}]}],
 'ColumnInfo': [{'Name': 'student', 'Type': {'ScalarType': 'VARCHAR'}},
  {'Name': 'measure_name', 'Type': {'ScalarType': 'VARCHAR'}},
  {'Name': 'time', 'Type': {'ScalarType': 'TIMESTAMP'}},
  {'Name': 'measure_value::double', 'Type': {'ScalarType': 'DOUBLE'}}],
 'QueryStatus': {'ProgressPercentage': 100.0,
  'CumulativeBytesScanned': 1562,
  'CumulativeBytesMetered': 10000000},
 'ResponseMetadata': {'RequestId': 'PZ4WOFQTQWQZPRM2QUGFYSVYZI',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'PZ4WOFQTQWQZPRM2QUGFYSVYZI',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '7571',
   'date': 'Mon, 27 Dec 2021 04:52:03 GMT'},
  'RetryAttempts': 0}}

## Delete Table in TimeStream

To delete a table using TimeStream, use the `delete_table` method, passing in both the name of the table you want to delete and the name of the database it resides in.

```python
#Example code for deleting a table
tsw.delete_table(
    DatabaseName = 'NameOfTheDatabase',
    TableName = 'NameOfTheTable'
)
```

**Try It Out Yourself**: Delete a database table you created by filling in the missing `None` values with appropriate values.

In [ ]:
tsw.delete_table(
    DatabaseName = None,
    TableName = None
)

## Delete Database in TimeStream

To delete a database using TimeStream, use the `delete_database` method, passing in the name of the database you want to delete.

```python
#Example code for deleting a database
tsw.delete_table(
    DatabaseName = 'NameOfTheDatabase'
)
```

**Try It Out Yourself**: Delete a database you created by filling in the missing `None` values with appropriate values.

In [ ]:
tsw.delete_database(
    DatabaseName = None
)